<header>
	<h1></h1>
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Adriana TINT Développeuse Web Junior</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse  justify-content-end" id="navbarNavAltMarkup">
			<div class="navbar-nav flex-end">
				<a class="nav-link active" href="/#accueil">Accueil</a>
				<a class="nav-link" href="/#competences">Compétences</a>
				<a class="nav-link" href="/#diplomes">Diplômes</a>
				<a class="nav-link" href="/#portfolio">Portfolio</a>
				<a class="nav-link" href="/#experiences">Expérience</a>
				<a class="nav-link" href="/#loisir">Loisirs</a>
				<a class="nav-link" href="/#contact">Contact</a>
			</div>
		</div>
	</div>
</nav>
